#!/bin/bash
# shell alias
alias so="source"
alias rl="reload_shell"
alias cl="clear"
alias b="popd > /dev/null"
alias mv="mv -i"
alias cpi="cp -i"
alias tL="tree -L"
alias tN="tree -I node_modules"
alias vim.tiny="echo vim.tiny disabled"
alias help="bat ~/.dotfiles/refs/clt.md"
alias isme="source ~/.dotfiles/config/gpg.sh"
alias sD="set_dst"
alias gD="go_dst"
alias mD="mv_to_dst"
alias cpD="cp_to_dst"
alias np="nopassphrase"


# edit and/or reload config files
alias usevm="alias vi=\"vim\"; echo using vim; rl"
alias usenv="alias vi=\"nvim\"; echo using nvim; rl"
alias vi="nvim"

alias vrc="vi ~/.vimrc"
alias nvr="vi ~/.dotfiles/config/nvim/init.lua"
alias brc="vi ~/.bashrc"
alias zrc="vi ~/.zshrc"
alias tcf="vi ~/.tmux.conf"
## aliases
alias al="vi ~/.aliases"
alias lal="source ~/.aliases; echo '~/.aliases updated'"
## shell functions
alias shu="vi ~/.shell_utils"
alias lshu="source ~/.shell_utils; echo '~/.shell_utils updated'"
## local environments and aliases
alias lc="vi ~/.localrc"
alias llc="source ~/.localrc; echo '~/.localrc updated'"
alias laa="lal; lshu; llc;"

# dotfiles
export DOTFILES="$HOME/.dotfiles"
alias sysinfo="cat ~/sysinfo"
alias .f="cd $DOTFILES/"
alias bootstrap="source $DOTFILES/bootstrap.sh"
alias .b="cd $DOTFILES/bootstrap"
alias .s="cd $DOTFILES/shell/.shell_utils/"
alias nv="nvim"
alias .nvimcheck="readlink -f $HOME/.config/nvim"
alias .nvim="cd $(.nvimcheck); tree"

# service
alias wttr="curl wttr.in"
alias weather="wttr"

# fzf
alias fzw="fzf \
  --height 40% --layout reverse --info inline --border \
  --preview 'file {}' --preview-window up,1,border-horizontal \
  --color 'fg:#bbccdd,fg+:#ddeeff,bg:#334455,preview-bg:#223344,border:#778899'"

alias fzp="fzf \
  --preview 'bat --style=numbers --color=always --line-range :500 {}'"

