#!/bin/bash
# shell alias
alias rld="omz reload"
alias cls="clear"
alias mv="mv -i"
alias cpi="cp -i"
alias treeN="tree -I node_modules"
alias vim.tiny="echo vim.tiny disabled"
alias vim="nvim"

# edit config files
alias aliases="vim ~/.dotfiles/config/.aliases"
alias shell_utils="vim ~/.dotfiles/config/.shell_utils"
alias vimrc="vi ~/.dotfiles/config/.vimrc"
alias localEnv="vim ~/.local_env"

# dotfiles
export DOTFILES="$HOME/.dotfiles"
alias sysinfo="cat ~/sysinfo"
alias .files="cd $DOTFILES/"
alias bootstrap="source $DOTFILES/bootstrap.sh"
alias .scr="cd $DOTFILES/scripts"
alias .cfg="cd $DOTFILES/config"
alias .nvim="cd $(readlink -f $HOME/.config/nvim)/lua; tree"

# service
alias weather="curl wttr.in"

# git
alias glc="git log \
  --oneline --decorate \
  --pretty='%Cred%h%Creset - %Cgreen(%ad) %C(auto)%d%Creset %s %C(bold blue)<%an>%Creset' \
  --date=short"

# fzf
alias fzw="fzf \
  --height 40% --layout reverse --info inline --border \
  --preview 'file {}' --preview-window up,1,border-horizontal \
  --color 'fg:#bbccdd,fg+:#ddeeff,bg:#334455,preview-bg:#223344,border:#778899'"

alias fzp="fzf \
  --preview 'bat --style=numbers --color=always --line-range :500 {}'"

# tmux alias
alias t="tmux"
alias tns="tmux new -s"
alias ta="tmux attach-session"
alias tat="tmux attach-session -t"
alias ta0="tat 0"
alias tls="tmux ls"
alias tkt="tmux kill-session -t"
alias tka="tmux kill-session -a"

alias tdev="tmux source-file ~/.tmux/dev.sh"
alias tad="tmux attach-session -t dev"
alias tkd="tmux kill-session -t dev; tmux ls"
alias tmern="tmux source-file ~/.tmux/mern.sh"
alias tam="tmux attach-session -t mern"
alias tkm="tmux kill-session -t mern; tmux ls"
alias tres="tmux source-file ~/.tmux/research.sh"
alias tkr="tmux kill-session -t research; tmux ls"

# development
alias eslints="npx eslint . --ext .ts,.tsx"
alias eslintjs="npx eslint . --ext .js,.jsx"
