#!/bin/bash
# shell alias
alias so="source"
alias rld="omz reload"
alias cls="clear"
alias back="popd"
alias mv="mv -i"
alias cpi="cp -i"
alias treeL="tree -L"
alias treeN="tree -I node_modules"
alias vim.tiny="echo vim.tiny disabled"
alias help="bat ~/.dotfiles/refs/clt.md"
alias isme="source ~/.dotfiles/config/gpg.sh"

# edit and/or reload config files
alias usevim="alias vi=\"vim\"; echo using vim";
alias usenv="alias vi=\"nvim\"; echo using nvim";

alias vimrc="vi ~/.dotfiles/config/.vimrc"
alias nvrc="vi ~/.dotfiles/config/nvim/init.lua"
alias zshrc="vi ~/.dotfiles/config/.zshrc"
alias tmcf="vi ~/.tmux.conf"
## aliases
alias al="vi ~/.dotfiles/config/.aliases"
alias lal="source ~/.dotfiles/config/.aliases; echo '~/.aliases updated'"
## shell functions
alias shut="vi ~/.dotfiles/config/.shell_utils"
alias lshut="source ~/.dotfiles/config/.shell_utils; echo '~/.shell_utils updated'"
## local environments and aliases
alias lc="vi ~/.local_env"
alias llc="source ~/.local_env; echo '~/.local_env updated'"
alias laa="lal; lshut; llc;"

# dotfiles
export DOTFILES="$HOME/.dotfiles"
alias sysinfo="cat ~/sysinfo"
alias .files="cd $DOTFILES/"
alias bootstrap="source $DOTFILES/bootstrap.sh"
alias .scr="cd $DOTFILES/scripts"
alias .cfg="cd $DOTFILES/config"
alias .ref="cd $DOTFILES/refs"
alias nv="nvim"
alias .nvimcheck="readlink -f $HOME/.config/nvim"
alias .nvim="cd $(.nvimcheck); tree"

# service
alias weather="curl wttr.in"

# git
alias lg="lazygit"
alias glc="git log \
  --oneline --decorate \
  --pretty='%Cred%h%Creset - %Cgreen(%ad) %C(auto)%d%Creset %s %C(bold blue)<%an>%Creset' \
  --date=short"

# fzf
alias fzw="fzf \
  --height 40% --layout reverse --info inline --border \
  --preview 'file {}' --preview-window up,1,border-horizontal \
  --color 'fg:#bbccdd,fg+:#ddeeff,bg:#334455,preview-bg:#223344,border:#778899'"

alias fzp="fzf \
  --preview 'bat --style=numbers --color=always --line-range :500 {}'"

# tmux alias
alias t="tmux"
alias tns="tmux new -s"
alias ta="tmux attach-session"
alias tat="tmux attach-session -t"
alias ta0="tat 0"
alias tls="tmux ls"
alias tkt="tmux kill-session -t"
alias tk0="tkt 0"
alias tka="tmux kill-session -a"
alias tka0="tmux kill-session -a -t 0"

alias tdev="tmux source-file ~/.tmux/dev.sh"
alias tad="tmux attach-session -t dev"
alias tkd="tmux kill-session -t dev; tmux ls"
alias tmern="tmux source-file ~/.tmux/mern.sh"
alias tam="tmux attach-session -t mern"
alias tkm="tmux kill-session -t mern; tmux ls"
alias tres="tmux source-file ~/.tmux/research.sh"
alias tare="tmux attach-session -t research"
alias tkr="tmux kill-session -t research; tmux ls"
alias tle="tmux source-file ~/.tmux/leet.sh"
alias tal="tmux attach-session -t leet"
alias tkl="tmux kill-session -t leet; tmux ls"

# development
alias eslints="npx eslint . --ext .ts,.tsx"
alias eslintjs="npx eslint . --ext .js,.jsx"
