#!bin/bash
# shell alias
export PATH="$HOME/.local/bin:$PATH"
export DOTFILES="$HOME/.dotfiles/"

alias cls="clear"
alias mv="mv -i"
alias cpi="cp -i"

# dotfiles related operations
alias sysinfo="cat ~/sysinfo"
alias dotfiles="cd ~/.dotfiles/"
alias dotutil="source ~/.dotfiles/scripts/utils.sh"
alias updateConfig="source ~/.dotfiles/updateConfig.sh"
alias bootstrap="source ~/.dotfiles/bootstrap.sh"

# service alias
alias weather="curl wttr.in"

# git additional alias
alias glc="git log --oneline --decorate \
                   --pretty='%Cred%h%Creset - %Cgreen(%ad) %C(auto)%d%Creset %s %C(bold blue)<%an>%Creset' \
                   --date=short"

# fzf
alias fzw="fzf --height 40% --layout reverse --info inline --border \
               --preview 'file {}' --preview-window up,1,border-horizontal \
               --color 'fg:#bbccdd,fg+:#ddeeff,bg:#334455,preview-bg:#223344,border:#778899'"
alias fzp="fzf --preview 'bat --style=numbers --color=always --line-range :500 {}'"

# tmux alias
alias t="tmux"
alias tns="tmux new -s"
alias ta="tmux attach-session"
alias tat="tmux attach-session -t"
alias tls="tmux ls"
alias tkt="tmux kill-session -t"
alias tka="tmux kill-session -a"
alias tdev="tmux source-file ~/.tmux/dev.sh"
alias tkd="tmux kill-session -t dev; tmux ls"
alias tres="tmux source-file ~/.tmux/research.sh"
alias tkr="tmux kill-session -t research; tmux ls"

# note-taking alias
createmd () {
  if [[ -d "$HOME/research-notes" ]]; then
    cp ~/research-notes/template.md $1.md;
    echo "$1.md created";
  else
    echo "research notes repo not cloned on local machine";
  fi
}

readme () {
  if [[ -f "./README.md" ]]; then
    vim ./README.md;
  else
    echo "Create README.md? [y/N]";
    read confirmation;
    if [[ $confirmation == "y" ]]; then
      touch README.md;
      vim README.md;
    fi
  fi
}

# command line utils
tl () {
  tldr $1 -t base16 || echo "Install tldr: npm install -g tldr"
}

myrefs () {
  refpath="$HOME/.dotfiles/refs/$1.md"
  if [[ -f $refpath ]]; then
    bat $refpath
  else
    echo "requested ref doesn't exist!"
  fi
}
