[settings]
debug = false
ignore =
    COMMIT_EDITMSG$
    PULLREQ_EDITMSG$
    MERGE_MSG$
    TAG_EDITMSG$
exclude = .*
hide_branch_names = true
hide_project_folder = true
include_only_with_project_file = true
exclude_unknown_project = true
status_bar_enabled=true
# add a `.wakatime` file in the project you want to track, and a
# `.wakatime-project` file to mask project's name
#
# .wakatime
# ---
# [settings]
#
# include = .*
#
# .wakatime-project
# ---
# <whatever-you-want-to-name-this-project>
